@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

:root {
  color-scheme: light dark; /* Informs the browser that both schemes are supported */
}

* {
    margin: 0px;
    padding: 0px;
    color: light-dark(#000000, #ffffff);
    font-family: "Lexend Deca", sans-serif;
}

body {
    background-color: light-dark(#fdfdfd, #202020);
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.page {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
}

.main {
    /*background: linear-gradient(in hsl, #e66465, #9198e5);*/
    background: linear-gradient(in hsl, light-dark(#6030ff, #201050)40%, light-dark(#a0a0ff, #101050), light-dark(#e0dfff, #322044));
    background-attachment: fixed;
    border-top: solid 2px light-dark(7f7f7f, #7f7f7f);
    flex-grow: 1;
    /* padding-top: 80px; */
}

.main > :first-child:not(#hero) {
    margin-top: 120px;
}

footer {
    color: light-dark(#202020, #afafaf);
    
    box-shadow: 0 0 8px 4px #00000040;
     
    display: flex;
    align-items: center;

    justify-self: end;
    
    
    padding: 8px;
    
    font-size: .8em;

    white-space: nowrap;
    overflow: clip;
    text-overflow: ellipsis;
}

input {
    background: none;
    border: none;
    outline: none;
    color: inherit;
}